body {
  background-image: url('IMG_20200727_113945.jpg');
  background-size: cover;
  background-color: #ffffff;
  font-size: 1 unit;
  font-family: 'Montserrat, sans-serif, font-weight: 400';
}

main, header, footer {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(236, 236, 236, 0.4);
  color: #efefef;
}

footer {
  padding-top: 3rem;
}

p {
  color: #000000;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 3rem;
  color: #000000;
}

h2 {
  color: #000000;
  border-bottom: 2px solid #000000;
} 

.lead {
  font-size: 1.4rem;
}

.info {
  float: right;
  margin: 1rem
}

h3 {
  color: #000000;
  background-color: #ebebeb;
  margin-bottom: 0.2;
}

.footer {

}